.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    height: 10rem;
    padding-top: 5rem;
    box-sizing: border-box; /* o que faz com que sejas fixa a medida e não somada ultrapassando o limite definido */
}